{% extends 'base.html' %}

{% block title %}All Date Inspection{% endblock %}
{% block body %}

    <h2 class="my_title">All Date Inspection</h2>

<table class="table table-info">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Date Inspection</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    {% for i in inspection %}
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>{{ i }}</td>
          <td><a class="btn btn-outline-primary" href="{% url 'car:update_date_inspection' i.id %}">Update</a></td>
          <td><a class="btn btn-outline-primary" href="{% url 'car:delete_date_inspection' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}


</table>


{% endblock %}
